@model Project1.ContextLibrary.Customer

@{
    ViewData["Title"] = "SignIn";
}

<h2>SignIn</h2>

<div class="text-danger">@TempData["Message"]</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="SignIn">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CustomerName" class="control-label"></label>
                <input asp-for="CustomerName" class="form-control" required/>
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Sign In" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

