@model Project1.ContextLibrary.LocationInventory

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>LocationInventory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="LocationId" />
            <div class="form-group">
                <label asp-for="LocationName" class="control-label"></label>
                <input asp-for="LocationName" class="form-control" />
                <span asp-validation-for="LocationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dough" class="control-label"></label>
                <input asp-for="Dough" class="form-control" />
                <span asp-validation-for="Dough" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pepperoni" class="control-label"></label>
                <input asp-for="Pepperoni" class="form-control" />
                <span asp-validation-for="Pepperoni" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sausage" class="control-label"></label>
                <input asp-for="Sausage" class="form-control" />
                <span asp-validation-for="Sausage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bacon" class="control-label"></label>
                <input asp-for="Bacon" class="form-control" />
                <span asp-validation-for="Bacon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mushrooms" class="control-label"></label>
                <input asp-for="Mushrooms" class="form-control" />
                <span asp-validation-for="Mushrooms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Olives" class="control-label"></label>
                <input asp-for="Olives" class="form-control" />
                <span asp-validation-for="Olives" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Anchovies" class="control-label"></label>
                <input asp-for="Anchovies" class="form-control" />
                <span asp-validation-for="Anchovies" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salami" class="control-label"></label>
                <input asp-for="Salami" class="form-control" />
                <span asp-validation-for="Salami" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Chicken" class="control-label"></label>
                <input asp-for="Chicken" class="form-control" />
                <span asp-validation-for="Chicken" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Onions" class="control-label"></label>
                <input asp-for="Onions" class="form-control" />
                <span asp-validation-for="Onions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Peppers" class="control-label"></label>
                <input asp-for="Peppers" class="form-control" />
                <span asp-validation-for="Peppers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
